{%  extends 'dashboard/main.html' %}
{% load static %}

{% block content %}
<!--Beginning of chart-->
<div class="charts">

    <div class="charts-card">
      <h2 class="chart-title">Number of women screened</h2>
      <img src="data:image/png;base64,{{ bar_chart_image }}" alt="Bar Chart" width="500" height="400">
    </div>

    <div class="charts-card">
      <h2 class="chart-title">Number Of Patients Who Had Cryotherapy/Thermal Ablation</h2>
      <img src="data:image/png;base64,{{ area_chart_image }}" alt="Area Chart" width="500" height="400">

    </div>

  </div>
  <!--end of chart-->
{% endblock %}


