<ul class="box-info">
    <li class="card">
        <i class='bx bxs-group' ></i>
        <span class="text">
            <h3>{{ total_patients }}</h3>
            <p>Total Cases</p>
        </span>
    </li>
    <li class="card">
        <i class='bx bx-folder-open' ></i>
        <span class="text">
            <h3>{{ patients_with_final_diagnosis }}</h3>
            <p>Total Reviews</p>
        </span>
    </li>
    <li class="card">
        <i class='bx bx-folder-open' ></i>
        <span class="text">
            <h3>{{ patients_without_final_diagnosis }}</h3>
            <p>Total Pending</p>
        </span>
    </li>
    <li class="card">
        <i class='bx bxs-hotel' ></i>
        <span class="text">
            <h3>{{ patients_with_positive_initial_diagnosis }}</h3>
            <p>Total confirmed positive cases</p>
        </span>
    </li>
</ul>

