{% extends 'dashboard/main.html' %}
{% load static %}
{% block content %}
<!-- Main body begins here -->
        

<form method="post" id="filter-form">
    {% csrf_token %}

    <div class="overview-dropdown">
        <div class="select-menu">
            <div class="select-btn">
                <select id="id_state" name="state" class="sBtn-input">
                    {% for state, state_name in form.state.field.choices %}
                        <option class="option" value="{{ state }}" {% if state == selected_state %}selected{% endif %}>{{ state_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="select-menu">
            <div class="select-btn" >
                <select id="id_facility" name="facility" class="sBtn-input">
                    {% for facility, facility_name in form.facility.field.choices %}
                        <option class="option" value="{{ facility }}" {% if facility == selected_facility %}selected{% endif %}>{{ facility_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="filter-button-container">
            <button type="submit" class="submit-button">Filter</button>
        </div>

    </div>
</form>

<div class="btn-download">
    <button id="export-pdf" class="custom-button pdf-button">Export as PDF</button>
    <button id="downloadexcel" class="custom-button excel-button">Export as Excel</button>
</div>



    <table id="table">
        
        <tbody>
            
            <tr>
                <td>
                    State
                </td>
                <td>
                    {% if total_patients_in_state %}
                       {{ selected_state }}</p>
                    {% endif %}
                </td>
               
                <!-- Add more table cells for other fields -->
            </tr>
            <tr>
                <td>
                    Facility
                </td>
                <td>
                    {% if selected_facility %}
                        {{ selected_facility }}
                    {% endif %}
                </td>
               
                <!-- Add more table cells for other fields -->
            </tr>

            <tr>
                <td>
                   Number of women
                </td>
                <td>
                    {% if total_patients_in_state %}
                         {{ total_patients_in_state }}</p>
                    {% endif %}
                    
                </td>
                
                <!-- Add more table cells for other fields -->
            </tr>
           
            {% for age_range, age_count in age_counts %}
            <tr>
                <td>{{ age_range }}</td>
                <td>{{ age_count }}</td>
            </tr>
            {% endfor %}
           
        
                
                
            
            
        </tbody>
    </table>


<!-- Main body ends here -->

</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
<script>
// JavaScript to update facility choices based on selected state
$('#id_state').change(function () {
    var stateId = $(this).val();
    $.ajax({
        url: '/get_facilities/',
        data: {
            'state_id': stateId
        },
        dataType: 'json',
        success: function (data) {
            var facilitySelect = $('#id_facility');
            facilitySelect.empty();
            facilitySelect.append('<option value="All Facilities">All Facilities</option>');
            $.each(data.facilities, function (key, value) {
                facilitySelect.append('<option value="' + key + '">' + value + '</option>');
            });
        }
    });
});
</script>
<script type="text/javascript" src="{% static 'js/table2excel.js' %}"></script>
<script src="{% static 'js/report.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock %}
