{%  extends 'dashboard/main.html' %}
{% load static %}

{% block content %}

<div class="recent--patients">
    <div class="title">
        <h2 class="section--title">Recent Patients</h2>

            <div class="search">
                <input type="text" placeholder="Search ">
                <button><i class="ri-search-2-line"></i></button>
            </div>
            
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Patient-ID</th>
                    <th>Date in</th>
                    <th>Age</th>
                    <th>mode</th>
                    <th>View Image</th>
                    <th>Diagnosis</th>
                    <th>Treatment options</th>
                </tr>
            </thead>
            <tbody>
                {% for data in cervic_data %}
                    <tr class="table_cont">
                        <td>{{ data.id }}</td>
                        <td>{{ data.date_submitted|date:"d/m/Y" }}</td>
                        <td>{{ data.age }}</td>
                        <td>{{ data.mode }}</td>
                        <td class="image_view">        
                            <a href="{% url 'cervic_data_detail' pk=data.id %}">View</a>
                        </td>
                        <td class="{% if data.initial_diagnosis == 'Positive' %}positive{% else %}negative{% endif %}">{{ data.initial_diagnosis }}</td>
                        <td>{{ data.treatment_options }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">No data available</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
</div>
<!-- Main body ends here -->

{% endblock %}



           
    