<ul class="box-info">
    <li class="card">
        <i class='bx bxs-group' ></i>
        <span class="text">
            <h3>{{ total_users }}</h3>
            <p>All Users</p>
        </span>
    </li>
    <li class="card">
        <i class='bx bxs-group' ></i>
        <span class="text">
            <h3> {{ reviewers_count }}</h3>
            <p>All Reviewers</p>
        </span>
    </li>
    <li class="card">
        <i class='bx bxs-group' ></i>
        <span class="text">
            <h3>{{ casefinders_count }}</h3>
            <p>All Case finder</p>
        </span>
    </li>
</ul>

