{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script>
      function checkAndRedirect() {
        // Check if the user is logged in
        {% if request.session.userid %}
          window.location.href = "{% url 'dashboard' %}";  // Redirect to the dashboard
        {% else %}
          window.location.href = "{% url 'login' %}";  // Redirect to the login page
        {% endif %}
      }
    </script>
    <title>WELCOME | Aviva</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="nav__logo"><img src="{% static 'img/logo.png' %}" alt="logo image" style="height: 15%; width: 15%;"/></div>
        
        
      </nav>
 
      <span class="register-head"></span>
      <span class="register-body"></span>
      <header class="header">
        <div class="content">
          <h1><span>Welcome,</span><br> Good to have you back</h1>
          <p>
            Aviva Cervical Cancer Diagnostics
           </p>
           <button class="btn" onclick="checkAndRedirect()">Login</button>
        </div>
        <div class="image">
          
          <img src="{% static 'img/aviva.jpg' %}" alt="header image" style="border-radius: 50%;"/>  
        </div>
      </header>
      
    </div>
    
  </body>
  </body>
</html>
